<div class="my-4 col-9">
  <form action="/users/:id?_method=PUT"
        method="POST"
        enctype="multipart/form-data">
    <div class="form-row mb-4">
      <label class="form-label"
             for="name">Name</label>
      <input class="form-control"
             type="text"
             name="name"
             id="name"
             placeholder="Name"
             value="{{user.name}}"
             required>
    </div>
    <div class="form-row mb-4">
      <label class="form-label"
             for="info">Your Introduction</label>
      <textarea class="form-control"
                id="info"
                name="info"
                placeholder="Introduction"
                rows="3"
                value=""
                required></textarea>
    </div>
    <div class="form-row mb-4">
      <label class="form-label"
             for="style">Your Teaching Style</label>
      <textarea class="form-control"
                id="style"
                name="style"
                placeholder="Teaching Style"
                rows="3"
                value=""
                required></textarea>
    </div>
    <div class="form-row mb-4">
      <label class="form-label"
             for="time">單堂課程時間 (分鐘)</label>
      <select class="form-select form-select mb-3"
              id="time"
              name="time"
              aria-label=".form-select-lg example"
              required>
        <option selected>請選擇時間</option>
        <option value="30">30 分鐘</option>
        <option value="60">60 分鐘</option>
      </select>
    </div>
    <div class="form-row mb-4">
      <label class="form-label"
             for="link">課程視訊連結</label>
      <input class="form-control"
             type="text"
             name="link"
             id="link"
             placeholder="Link"
             value=""
             required>
    </div>
    <div class="form-row mb-4">
      <label class="form-label">開放時間</label>
      <div>
        {{#each date}}
        <div class="form-check form-check-inline">
          <input class="form-check-input border-2 border-primary"
                 type="checkbox"
                 id="week-day-{{this.id}}"
                 value="{{this.id}}">
          <label class="form-check-label"
                 for="week-day-{{this.id}}">{{this.date}}</label>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="form-row mb-5">
      <label class="form-label"
             for="img">You can upload lesson image from local</label>
      <input class="form-control"
             type="file"
             class="form-control-file"
             id="img"
             name="img">
    </div>
    <button type="submit"
            class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-secondary"
       href="javascript:history.back()">Back</a>
</div>
</form>
</div>