<div class="row justify-content-between">
  {{!-- left personal --}}
  <div class="col-3 p-4">
    <img src="{{lesson.img}}"
         class="img-fluid rounded mb-3"
         alt="avatar">
    <h3 class="mb-3 fw-bold">{{lesson.name}}</h3>
    <h5 class="mb-1 fw-bold"><i class="fa-solid fa-heart"
         style="color: #ffbb00;"></i>　{{lesson.averageScore}}</h5>
    <h5 class="mb-1 fw-bold"><i class="fa-solid fa-address-card"
         style="color: #25a80b;"></i>　About Me</h5>
    <p class="mb-4">{{lesson.info}}</p>
  </div>
  {{!-- right lesson info --}}
  <div class="col-9 p-5">
    {{!-- New Schedule --}}
    <div class="mb-5"
         name="new-schedule">
      <h5 class="mb-3 fw-bold">New Schedule</h5>
      <div class="row">
        {{#each records}}
        {{#ifFinish this.date.end this.date.now}}
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-body">
              <p class="card-text lh-1"><span class="fw-bold">Time:</span> <span class="text-muted">{{this.start_time}}
                  ~ {{this.end_time}}</span></p>
              <p class="card-text lh-1"><span class="fw-bold">Student's Name:</span> <span class="text-muted">
                  {{this.User.name}}</span></p>
              <p class="card-text lh-1"><span class="fw-bold">Session Link:</span> <a href="{{../lesson.link}}"
                   target="_blank"
                   title="session Link">前往視訊課程 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>
          </div>
        </div>
        {{/ifFinish}}
        {{/each}}
      </div>
    </div>
    {{!-- Your Teaching Style --}}
    <div class="mb-4"
         name="teaching-style">
      <h5 class="mb-3 fw-bold">Your Teaching Style</h5>
      <div class="row">
        <p>{{lesson.style}}</p>
      </div>
    </div>
    {{!-- Recent Reviewed --}}
    <div class="mb-5"
         name="recent-reviewed">
      <h5 class="mb-3 fw-bold">Recent Reviewed</h5>
      <div class="row">
        {{#eachDesc records}}
        {{#ifFinish this.date.end this.date.now}}
        {{else}}
        {{#ifCond this.score 0}}
        {{else}}
        <div class="mb-1">
          <div class="d-flex justify-content-between">
            <div class="card col-1 bg-warning bg-opacity-75 me-2"
                 style="min-width: 60px;">
              <div class="m-auto">
                <h6 class="card-title lh-sm pt-1 fw-bold">{{this.score}}</h6>
              </div>
            </div>
            <div class="card col">
              <div class="my-auto mx-3">
                <h5 class="card-title lh-sm pt-1">{{this.comment}}</h5>
              </div>
            </div>
          </div>
          <p class="text-end text-muted">{{this.updated_at}}</p>
        </div>
        {{/ifCond}}
        {{/ifFinish}}
        {{/eachDesc}}
      </div>
    </div>
    {{!-- edit btn --}}
    <div class="mb-5 d-flex justify-content-end">
      <a href="/teachers/{{lesson.id}}/edit"><button class="btn badge text-wrap btn-primary p-2 lh-base"
                style="width: 8rem;">Edit Profile & Booking
          Calendar</button></a>
    </div>

  </div>

</div>