<div class="row justify-content-between">

  {{!-- left: user info --}}
  <div class="col-3 p-4">
    <img src="{{user.avatar}}"
         class="img-fluid rounded mb-3"
         alt="avatar">
    <h3 class="mb-3 fw-bold">{{user.name}}</h3>
    <h5 class="mb-1 fw-bold">About Me</h5>
    <p class="mb-4">{{user.info}}</p>
    <a href="/users/{{user.id}}/edit"><button class="btn btn-primary">Edit</button></a>
  </div>

  {{!-- right --}}
  <div class="col-9 p-5">
    {{!-- New Schedule --}}
    <div class="mb-3"
         name="new-schedule">
      <h5 class="mb-3 fw-bold">New Schedule</h5>
      <div class="row">

        {{#each records}}
        {{#ifSchedule this.date.end this.date.now}}
        <div class="col-sm-6 mb-3">
          <div class="card">
            <div class="card-body">
              <p class="card-text lh-1"><span class="fw-bold">Time:</span> <span class="text-muted"> {{this.start_time}}
                  ~ {{this.end_time}}</span></p>
              <p class="card-text lh-1"><span class="fw-bold">Teacher's Name:</span> {{this.classTeacher.name}}<span
                      class="text-muted">
                  {{this.User.name}}</span></p>s
              <p class="card-text lh-1"><span class="fw-bold">Session Link:</span> <a href="{{this.classInfo.link}}"
                   target="_blank"
                   title="session Link">前往視訊課程 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
            </div>
          </div>
        </div>
        {{/ifSchedule}}
        {{/each}}

      </div>
    </div>
    {{!-- Lesson History --}}
    <div class="mb-3"
         name="lesson-history">
      <h5 class="mb-3 fw-bold">Lesson History</h5>
      <div class="row">
        {{#eachDesc records}}
        {{#ifFinish this.date.end this.date.now}}
        <div class="col-sm-6">
          <div class="d-flex justify-content-between">
            <div class="col-2">
              <img src="https://illustcenter.com/wp-content/uploads/2022/09/sdesign_00165-508x381.png"
                   class="img-fluid rounded-circle"
                   alt="avatar">
            </div>
            <div class="card col-10">
              <div class="my-auto mx-3 d-md-flex justify-content-md-between">
                <h5 class="card-title lh-sm pt-1">{{this.classTeacher.name}}</h5>
                {{#ifCond this.score 0}}
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        data-bs-whatever="@fat">Score
                </button>
                {{!-- score model --}}
                <div class="modal fade"
                     id="exampleModal"
                     tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">為本次課程評分</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="/teachers/{{user.id}}/score?_method=PUT"
                              method="POST">
                          <div class="mb-3">
                            <label for="score"
                                   class="col-form-label">Score:</label>
                            <select class="form-select"
                                    id="score"
                                    aria-label="Default select example">
                              <option selected>請選擇分數</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="3">4</option>
                              <option value="3">5</option>
                              <option value="3">6</option>
                              <option value="3">7</option>
                              <option value="3">8</option>
                              <option value="3">9</option>
                              <option value="3">10</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="message-text"
                                   class="col-form-label">Message:</label>
                            <textarea class="form-control"
                                      id="message-text"
                                      placeholder="可以留下你對課程的評論（非必填）"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                            <button type="submit"
                                    class="btn btn-primary">Summit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="card col-1 bg-success text-white"
                     style="min-width: 66px;">
                  <div class="m-auto">
                    <h6 class="card-title lh-sm pt-1 fw-bold">{{this.score}}</h6>
                  </div>
                </div>
                {{/ifCond}}
              </div>
            </div>
          </div>
          <p class="text-end text-muted me-2">{{this.finished_at}}</p>
        </div>
        {{/ifFinish}}
        {{/eachDesc}}
      </div>
    </div>
    {{!-- 我的學習時數名次 --}}
    <div class="mb-4"
         name="study-hours">
      <h5 class="mb-3 fw-bold">我的學習時數名次</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text lh-1">Ranking: 挑戰功能</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>